* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    height: 400px;
    width: 400px;
    margin-left: -6rem;
}

section {
    justify-content: center;
    text-align: center;
    align-items: center;
}

ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

li {
    display: flex;
    flex-direction: column;
    list-style: none;
    max-width: 200px;
    margin: 5rem;
}

p {


}

button {
   border: 1px solid black;
   border-radius: 10px 10px;
   background-color: crimson;
   padding: 1em;
   width: 150px;
   justify-content: center;
   justify-items: center;
   margin: auto; 
}